[submodule "src/go/ms-random"]
	path = src/go/ms-random
	url = ../../com-gft-tsbo-source/go-ms-random
[submodule "src/go/ms-measure"]
	path = src/go/ms-measure
	url = ../../com-gft-tsbo-source/go-ms-measure
[submodule "src/go/fe-measure"]
	path = src/go/fe-measure
	url = ../../com-gft-tsbo-source/go-fe-measure
[submodule "src/angular/fe-weatherstation"]
	path = src/angular/fe-weatherstation
	url = ../../com-gft-tsbo-source/angular-fe-weatherstation
[submodule "src/go/common"]
	path = src/go/common
	url = ../../com-gft-tsbo-source/go-common
